* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
    --content: "";
}

.debug {
    border: 1px solid black;
}

.book-display {
    margin: 2vh auto 5vh auto;
    max-width: 80%;
    min-width: min-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1rem;
    border: 1px solid black;
    border-bottom: none;
}

.book-display > p {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid white; */
    align-items: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.grid-item {
    font-size: 1.3rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.grid-item > button, .add-book-btn, .form-popup button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 1rem;
}

.add-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.form-popup {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
    background-color: white;
}

.form-popup > div {
    display: flex;
    justify-content: flex-end;
}

form {
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
    display: block;
}

label:not(.checkbox-label) {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

input[type="text"] {
    padding: 0 .5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    height: 2em;
    outline: none;
    border: 3px solid black;
    border-radius: 10px;
    min-width: 400px;
}

.popup-exit {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    text-align: center;
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    margin-top: .7rem;
    font-size: 3rem;
    transform: scale(2.2);
}

.hide-popup {
    display: none;
}

.error + input {
    border-color: red;
    background-color: rgb(255, 236, 212);
}

.error::after {
    content: var(--content);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: end;
    margin-left: auto;
    color: red;
    margin-right: .5rem;
}

button:hover {
    background-color: darkblue;
}

input:hover {
    /* background-color: rgb(240, 240, 240); */
    background-color: rgb(223, 223, 245);
}